<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Flask Tutorial</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


  </head>
  <body>
    <section>
      <div class="LHSBox">

        <div class="date">
          {{ date }}  
        </div>

        <div id="clock">
          <!-- time is updated every second by clock.js -->
        </div>

        <div class="weather">


        </div>

      </div>

      <div id ="RHSCalBox">
        <div class="calendar">
          <div class="calheader">
            <div class="timegap"></div>
            <div class="headers">
              <div class="namecol"><span>Name 1</span></div>
              <div class="namecol"><span>Name 2</span></div>
              <div class="namecol"><span>Name 3</span></div>
            </div>
          </div>

          <div class="calbody">
            <div class="timeticks">
              <div class="timecol">
                <div class="hourcol">8am</div>
                <div class="hourcol">9am</div>
                <div class="hourcol">10am</div>
                <div class="hourcol">11am</div>
                <div class="hourcol">12pm</div>
                <div class="hourcol">1pm</div>
                <div class="hourcol">2pm</div>
                <div class="hourcol">3pm</div>
                <div class="hourcol">4pm</div>
                <div class="hourcol">5pm</div>
                <div class="hourcol">6pm</div>
                <div class="hourcol">7pm</div>
                <div class="hourcol">8pm</div>

<!-- 
                <div class="hourcol">0800</div>
                <div class="hourcol">0900</div>
                <div class="hourcol">1000</div>
                <div class="hourcol">1100</div>
                <div class="hourcol">1200</div>
                <div class="hourcol">1300</div>
                <div class="hourcol">1400</div>
                <div class="hourcol">1500</div>
                <div class="hourcol">1600</div>
                <div class="hourcol">1700</div>
                <div class="hourcol">1800</div>
                <div class="hourcol">1900</div>
                <div class="hourcol">2000</div> -->
              </div>

              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
            </div>
            <div id="calcontent">
              <div class="timecol"></div> <!-- acts as a horizontal offset -->

              <!--! commented as js should create it-->
              <!-- <div class="contentcol">
                
                <div class="chip chipA">
                  <div class="bgchipA">
                  </div>
                  <div class="chipcontent">PCS1: Lecture (505-011) Code of Conduct Text Text Text Abc Abc
                  </div>
                  
                </div>
              </div>

              <div class="contentcol">
                <div class="chipcontent chipB"></div>

              </div>
              <div class="contentcol">

              </div> -->

            </div>

          </div>

        </div>
      </div>

    </section>

    <!-- SCRIPTS -->
    <script src="../static/js/clock.js"></script>
    <script src="../static/js/calendar.js"></script>
  </body>
</html>