/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');



/* Universal Styling  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial; /* Backup font */
    font-family: 'Nunito', sans-serif; /* Primary font */
}

body {

    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* color: rgb(92, 221, 23); */

    /* prevent scrolling, i.e. dashboard */
    height: 100%;
    overflow: hidden;
    /* overflow-x: hidden; */

    /* Fill 95% of page excl footer/progress bar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* background-image: url("../images/backgroundimg1.jpg");
    background-size: cover;
    background-repeat: no-repeat; */

    /* background-color: #FA8BFF;
    background-image: linear-gradient(64deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); */
    
    /* background: rgb(43,210,255);
    background: linear-gradient(64deg, rgba(43,210,255,1) 0%, rgba(141,208,177,1) 21%, rgba(226,137,148,1) 48%, rgba(86,193,227,1) 69%, rgba(0,146,255,1) 100%); */

    background-color: #FFFFFF;
    background-image: linear-gradient(240deg, #ffb3b3 0%, #98adfc 50%, #ff5e64 100%);
    

  }

section {
    display: flex;
}

/* Responsive */
/* If screen device and less than 500px wide, allow wrapping and scrolling */
@media screen and (max-width:500px) {
    section { flex-wrap: wrap;  }
    body {overflow: visible;}
}

/* LHS STYLING */
.LHSBox {
    flex: 4;
}

.date {
    font-size: 45px;
    /* color: black; */
    /* background-color: #666; */
    padding-top: 30px;
    /* padding-bottom: 5px; */
    text-align: center;
}

#clock {
    font-size: 80px;
    /* font-family: "Helvetica Neue", Helvetica; */
    color: white;
    /* padding-left: 20px; */
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

#quote {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto Slab', Georgia, serif;
    padding: 0px 10px 20px 30px;
    /* text-align: center; */
    /* font-weight: bold; */

}

#quoteauthor {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


/* RHS STYLING */
#RHSCalBox {
    flex: 5;
    /* margin: 100px; */
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
    /* border: 100px; */
}

.calheader {
    background-color: rgb(65, 161, 212);
    /* color: rgb(0, 0, 0); */
    font-weight: bold;
    height: 25px;
    text-align: center;
    width: 100%;
    display: flex;
}

#headers {
    height: 100%;
    display: flex;
    width: 100%;
}

/** TIME TICKS  */
.timegap {
    width: 35px;
}

.timecol {
    height: 100%;
    float: left;
    width: 45px;
    text-align: right;
    border-right: 1px solid rgb(150, 150, 150);
    border-left: 1px solid rgb(150, 150, 150);
    z-index: 4;
}

.namecol {
    flex: 1;
    text-align: center;
    border-right: 1px solid rgb(150, 150, 150);
    /* border-left: 1px solid rgb(150, 150, 150); */
}

#calbody {
    position: relative;
    display: block;
    border-right: 1px solid rgb(194, 194, 194);
    /* border-bottom: 1px solid rgb(194, 194, 194); */
    /* border-left: 1px solid rgb(194, 194, 194); */
}

.hourcol {
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    /* padding-top: 2px; */
    padding-right: 1px;
    position: relative;
    /* z-index: 5; */
}

/* Not a typo for head2 to be in the class name */
.hourcolhead2 { 
    
    line-height: 60px; /* vertically aligns 1 line of text */
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;

    z-index: 15;
    position: relative;
}

.head2 {
    height: 60px;
    background-color: rgb(143, 237, 174);
    opacity: 0.6;
    z-index: 10;
}

.head2 > .ticktop {
    border-bottom: 0px;
}

.head2 > .tickbtm {
    height: 100%;
    border-bottom: 2px solid rgb(60,60,60);
}

.head2content {
    position: absolute;
    padding-top: 1px;
    padding-left: 2px;
    padding-bottom: 0px;
    padding-right: 2px;
    border: none;
    width: 100%;
    word-wrap: break-word;
}

.ticks {
    /* height: 100%; */
    /* placeholder */
}

.ticktop {
    /* border-top: 1px solid rgb(100, 100, 100); */
    border-bottom: 1px dashed rgb(215, 215, 215);
    height: 50%;
}

.tickbtm {
    border-bottom: 1px solid rgb(77, 77, 77);
    height: 50%;
}

/* time marker, line across whole screen */
#timeMarker {
    position: absolute;
    width: 100%;
    display: flex;
    /* display: inline-block; */
    left: 45px;

    border-top: 2px solid rgb(255, 0, 0);
    border-bottom: 2px solid rgb(255, 0, 0);
    z-index: 1;
    right:0;

    /* border: solid black; */
    /* border-width: 0 3px 3px 0; */
    /* padding: 3px; */
}

#timeMarker > div {
    background: rgb(255,0,0);
    border-radius: 50%;
    content: "";
    position: absolute;
    height: 14px;
    margin-left: -8px;
    margin-top: -7px;
    width:14px;
    z-index: 1;
}


/** EVENTS ON CALENDAR */
#calcontent {
    position: absolute;
    width: 100%;
    top: 0px;
    display: flex;
}

.dayoffset {

}

.contentcol {
    position: relative;
    /* min-height: 1px; */
    flex: 1;
}

/* creates all chips*/
.chip{
    position: absolute;
    width: 100%;
    /* color: black; */
    text-align: center;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

/* text in all chips */
.chipcontent {
    font-weight: 900;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    z-index: 4;
}

.chipA {
    /** DISTANCE FROM TOP */
    top: 130px;
    /* position: relative; */
    
    /* CAN ADD BORDER */
    /* border-left: 4px solid;  */
    
}

/*
.bgchipA {
    
    EVENT HEIGHT/LENGTH 

    height: 65px;

    Background
    background-color: rgb(73, 134, 231);
    border-color: rgb(73, 134, 231);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    opacity: 0.6;

}*/

.bgchip {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    opacity: 0.9;
}




/* PROGRESS BAR */


#progress-bar {
    bottom: 0;
    position: fixed;
    border-top: 2px solid gray;
    height: 3.5vh;
    margin-top: auto;
    width: 100%;
    /* background:  */

    /* z-index */
}

#progress-box {
    /* width: 20%; */
    height: 100%;
    /* background-color: #4CAF50; */
    background-color: green;
    text-align: center;
    line-height: 3.5vh;
    font-weight: 800;
}