/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Universal Styling  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial; /* Backup font */
    font-family: 'Nunito', sans-serif; /* Primary font */
}

body {

    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* color: rgb(92, 221, 23); */

    /* prevent scrolling, i.e. dashboard */
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;

  }

section {
    display: flex;
}

.LHSBox {
    flex: 4;
}

#RHSCalBox {
    flex: 4;
    /* margin: 100px; */
    padding: 10px;
    /* border: 100px; */
}

.date {
    font-size: 50px;
    color: black;
    background-color: #666;
    padding: 30px;
}

/* id clock since js powered. */
#clock {
    font-size: 75px;
    font-family: "Helvetica Neue", Helvetica;
}
