<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>J4 Dash</title>

    <!-- Load favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


  </head>
  <body>
    <section>
      <div class="LHSBox">

        <div class="date">
          <b>{{ date }}</b>
        </div>

        <div id="clock">
          <!-- time is updated every second by clock.js -->
        </div>

        <div id ="quote">
          {{ quote }}<div id="quoteauthor">{{ author }}</div>

        </div>

        <a class="weatherwidget-io" href="https://forecast7.com/en/n36d85174d76/auckland/" data-label_1="AUCKLAND CBD" data-label_2="WEATHER" data-font="Roboto" data-icons="Climacons Animated" data-days="5" >AUCKLAND CBD WEATHER</a>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>


      </div>

      <div id ="RHSCalBox">
        <div class="calendar">
          <div class="calheader">
            <div class="timegap"></div>
            <div id="headers">
              <!-- <div class="namecol">Name 1</div>
              <div class="namecol">Name 2</div> -->
            </div>
          </div>

          <div id="calbody">
            <div class="timeticks">
              <div class="timecol">
                <div class="hourcolhead2">DAY</div>
                <div class="hourcol">8am</div>
                <div class="hourcol">9am</div>
                <div class="hourcol">10am</div>
                <div class="hourcol">11am</div>
                <div class="hourcol">12pm</div>
                <div class="hourcol">1pm</div>
                <div class="hourcol">2pm</div>
                <div class="hourcol">3pm</div>
                <div class="hourcol">4pm</div>
                <div class="hourcol">5pm</div>
                <div class="hourcol">6pm</div>
                <div class="hourcol">7pm</div>
                <div class="hourcol">8pm</div>
              </div>

              <!-- Header lacks ticktop, since we don't want to subdivide that row. -->
              <div class="ticks head2"><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
              <div class="hourcol ticks"><div class="ticktop"></div><div class="tickbtm"></div></div>
            </div>
            <div id="calcontent">
              <div class="timecol"></div> <!-- acts as a horizontal offset -->

              <!--! commented as js should create it-->
              <!-- <div class="contentcol">
                
                <div class="chip chipA">
                  <div class="bgchipA">
                  </div>
                  <div class="chipcontent">PCS1: Lecture (505-011) Code of Conduct Text Text Text Abc Abc
                  </div>
                  
                </div>
              </div>

              <div class="contentcol">
                <div class="chipcontent chipB"></div>

              </div>
              <div class="contentcol">

              </div> -->

            </div>

          </div>

        </div>
      </div>
  <!-- Anything here will go to the RIGHT of calendar. DON'T WANT THAT -->
    </section>
    <!-- From here goes below the section. -->




  </body>

  <footer>
    <!-- Progress bar -->
    <div id="progress-bar">
      <div id="progress-box"></div>
    </div>
  </footer>

    <!-- SCRIPTS -->
    <script src="../static/js/clock.js"></script>
    <script src="../static/js/colour_data.js"></script>
    <script src="../static/js/calendar.js"></script>
</html>